_archive
.aim
.idea
.ipynb_checkpoints
.vscode
.DS_Store
wandb
scripts
data/*
checkpoints/*
nyu_v2_samples/**
*.pyc
*.xml
*.iml
*.json
*.tar
*.csv
*.pkl
*.pickle
*.code-workspace
nb_ScratchPad.ipynb
*.pbs
pbs_jobs/wandb
pbs_jobs/worker-resid*
pbs_output
pbs_jobs/del_pbs.sh
pbs_jobs/del_wandb.sh
 
