data/*
checkpoints/*
nyu_v2_samples/**
original_sparsechem_code/
tboardx/
Miscellaneous/
.ipynb_checkpoints
.DS_Store
*.pyc
*.xml
*.iml
.idea
*.json
*.tar
*.csv
*.pkl
*.pickle
*.code-workspace
exp*.sh
nb_ScratchPad.ipynb
