_archive
.aim
.idea
.ipynb_checkpoints
.vscode
.DS_Store
wandb
scripts
data/*
checkpoints/*
nyu_v2_samples/**
*.pyc
*.xml
*.iml
*.json
*.tar
*.csv
*.pkl
*.pickle
*.code-workspace
nb_ScratchPad.ipynb
*.pbs
pbsjobs/wandb
pbs_output

 
